.errors {
		color:#ff0000;
}

.empty {
	text-align:center;
	color:#ff0000;
	font-weight:bold;
}
	
@media (min-width:768px) {
	/* Wrappers */

	#wrapper-login {
		padding-left: 0px;
	}
	
	#wrapper-login  h1 {
		text-align:center;
	}
	
	#wrapper-login  .login {
		width:33%;
		margin: 0 auto 0 auto;
	}
	
	#footer {
		margin:20px;
		border-top:1px solid;
		padding:10px;
		text-align: center;
	}
	
	.info {
	}
	
	.info  label {
		display:inline-table;
		width:150px;
	}
}

.hal, .hal ul {
	text-align:right;
	vertical-align:top;
	margin:0;
}

.smallInput {
	width:100px;
}

.mediumInput {
	width:200px;
}

.InputLine {
	display:inline-block;
}

.Inputhidden,
.Inputhidden:focus {
	display:inline-block;
	border:none!important;
	background:#fff!important;
	box-shadow:none!important;
	transition:none!important;
}

.searchitm {
	width:50%;
	display:inline;
}

.product_name,
.cust_name,
.ship_name {
	width:90%;
	display:inline;
}

.disc {
	width:75px;
	display:inline;
}